/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
    padding: 80px;
}

.content-mid-header {
    background: #444;
    width: auto;
    height: 100px;
}

.content-container {
    width: auto;
    height: 500px;
}

.content {
    background: #D8D8D8;
    padding: 200px 20px 20px 20px;
    width: auto;
    height: 100%;
    text-align: center;
}